/*Selecciona el elemento raíz del documento:
   <html> en el caso de HTML*/
:root {
  --color-principal: #a52a2a;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #333;
}
/*Selectores por clase*/
.cabecera,
.pie {
  background-color: #f5f5dc;
}
.contenido-principal {
  background-color: #f0f8ff;

/*Selectores por tipo de elemento*/

}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-size: 32px;
}
h1 {
  font-size: 46px;
}
/*Selectores por tipo de elemento y pseudo*/
/* visited: Selecciona cualquier <a> que ha sido visitado */
a,
a:visited {
  color: #006400;
  text-decoration: none;
}
/*Hover: puntero, texto flotante*/
a:hover {
  color: var(--color-principal);
  text-decoration: underline;
}
/*Selectores por clase*/
.seccion-contenido img {
  border-radius: 50%;
  border: 2px dotted var(--color-principal);
}

.lista {
  list-style-type: square;
}

.tecnologia {
  color: #fff;
  background-color: var(--color-principal);
}
